# Visualization and Modern Data Science

> Dataframe Wrangling with Pandas

Kuo, Yao-Jen <yaojenkuo@ntu.edu.tw> from [DATAINPOINT](https://www.datainpoint.com/)

In [1]:
from datetime import date
from datetime import timedelta
from urllib.error import HTTPError

## About `pandas`

## What is `pandas`?

> Flexible and powerful data analysis / manipulation library for Python, providing labeled data structures similar to R data.frame objects, statistical functions, and much more.

Source: <https://github.com/pandas-dev/pandas>

## Why `pandas`?

Python used to have a weak spot in its analysis capability due to it did not have an appropriate structure handling the common tabular datasets. Pythonists had to switch to a more data-centric language like R or Matlab during the analysis stage until the presence of `pandas`.

## Import Pandas with `import` command

Pandas is officially aliased as `pd`.

In [2]:
import pandas as pd

## If Pandas is not installed, we will encounter a `ModuleNotFoundError`

```
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'pandas'
```

## Use `pip install` at Terminal to install pandas

```bash
pip install pandas
```

## Check version and its installation file path

- `__version__` attribute
- `__file__` attribute

In [3]:
print(pd.__version__)
print(pd.__file__)

1.1.3
/opt/conda/lib/python3.8/site-packages/pandas/__init__.py

## What does `pandas` mean?

![](https://media.giphy.com/media/46Zj6ze2Z2t4k/giphy.gif)

Source: <https://giphy.com/>

## Turns out its naming has nothing to do with panda the animal, it refers to three primary class customed by its author [Wes McKinney](https://wesmckinney.com/)

- **Pan**el(Deprecated since version 0.20.0)
- **Da**taFrame
- **S**eries

## In order to master `pandas`, it is vital to understand the relationships between `Index`, `ndarray`, `Series`, and `DataFrame`

- An `Index` and a `ndarray` assembles a `Series`
- A couple of `Series` that sharing the same `Index` can then form a `DataFrame`

## `Index` from Pandas

The simpliest way to create an `Index` is using `pd.Index()`.

In [4]:
prime_indices = pd.Index([2, 3, 5, 7, 11, 13, 17, 19, 23, 29])
print(type(prime_indices))

<class 'pandas.core.indexes.numeric.Int64Index'>

## An `Index` is like a combination of `tuple` and `set`

In [5]:
# immutable
prime_indices = pd.Index([2, 3, 5, 7, 11, 13, 17, 19, 23, 29])
prime_indices[-1] = 31

TypeError: Index does not support mutable operations

In [6]:
# Index has the characteristics of a set
odd_indices = pd.Index(range(1, 30, 2))
print(prime_indices.intersection(odd_indices))         # prime_indices & odd_indices
print(prime_indices.union(odd_indices))                # prime_indices | odd_indices
print(prime_indices.symmetric_difference(odd_indices)) # prime_indices ^ odd_indices
print(prime_indices.difference(odd_indices))
print(odd_indices.difference(prime_indices))

Int64Index([3, 5, 7, 11, 13, 17, 19, 23, 29], dtype='int64')
Int64Index([1, 2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29], dtype='int64')
Int64Index([1, 2, 9, 15, 21, 25, 27], dtype='int64')
Int64Index([2], dtype='int64')
Int64Index([1, 9, 15, 21, 25, 27], dtype='int64')

## `Series` from Pandas

The simpliest way to create an `Series` is using `pd.Series()`.

In [7]:
prime_series = pd.Series([2, 3, 5, 7, 11, 13, 17, 19, 23, 29])
print(type(prime_series))

<class 'pandas.core.series.Series'>

## A `Series` is a combination of `Index` and `ndarray`

In [8]:
print(type(prime_series.index))
print(type(prime_series.values))

<class 'pandas.core.indexes.range.RangeIndex'>
<class 'numpy.ndarray'>

## `DataFrame` from Pandas

The simpliest way to create an `DataFrame` is using `pd.DataFrame()`.

In [9]:
movie_df = pd.DataFrame()
movie_df["title"] = ["The Shawshank Redemption", "The Dark Knight", "Schindler's List", "Forrest Gump", "Inception"]
movie_df["imdb_rating"] = [9.3, 9.0, 8.9, 8.8, 8.7]
print(type(movie_df))

<class 'pandas.core.frame.DataFrame'>

## A `DataFrame` is a combination of multiple `Series` sharing the same `Index`

In [10]:
print(type(movie_df.index))
print(type(movie_df["title"]))
print(type(movie_df["imdb_rating"]))

<class 'pandas.core.indexes.range.RangeIndex'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

## Review of the definition of modern data science

> Modern data science is a huge field, it invovles applications and tools like importing, tidying, transformation, visualization, modeling, and communication. Surrounding all these is programming.

![Imgur](https://i.imgur.com/din6Ig6.png)

Source: [R for Data Science](https://r4ds.had.co.nz/)

## Key functionalities analysts rely on `pandas` are

- Importing
- Tidying
- Transforming

## Tidying and transforming together is also known as WRANGLING

![](https://media.giphy.com/media/MnlZWRFHR4xruE4N2Z/giphy.gif)

Source: <https://giphy.com/>

## Importing

## `pandas` has massive functions importing tabular data

- Flat text file
- Database table
- Spreadsheet
- JSON
- HTML `<table></table>` tags
- ...etc.

Source: <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>

## Using `read_csv` function for flat text files

In [11]:
def get_latest_daily_report():
    today = date.today()
    day_delta = timedelta(days=1)
    data_date = today
    while True:
        data_date_str = date.strftime(data_date, '%m-%d-%Y')
        print("Try importing {} data...".format(data_date_str))
        daily_report_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv".format(data_date_str)
        try:
            daily_report = pd.read_csv(daily_report_url)
            print("Successfully imported {} data!".format(data_date_str))
            break
        except HTTPError:
            data_date -= day_delta
    return daily_report

In [12]:
daily_report = get_latest_daily_report()

Try importing 05-05-2021 data...
Try importing 05-04-2021 data...
Successfully imported 05-04-2021 data!

## Pulling a folder of datasets in various formats

[dataset-imdb-top-rated](https://lab.datainpoint.com/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fdatainpoint%2Fdataset-imdb-top-rated&urlpath=tree%2Fdataset-imdb-top-rated%2F&branch=main)

## Using `read_sql` function for database tables

```python
import sqlite3

conn = sqlite3.connect('YOUR_DATABASE.db')
sql_query = """
SELECT * 
  FROM YOUR_TABLE
 LIMIT 10;
"""
pd.read_sql(sql_query, conn)
```

## Using `read_excel` function for spreadsheets

```python
excel_file_path = "PATH/TO/YOUR/EXCEL/FILE"
pd.read_excel(excel_file_path)
```

## Using `read_json` function for JSON

```python
json_file_path = "PATH/TO/YOUR/JSON/FILE"
pd.read_json(json_file_path)
```

## What is JSON?

> JSON (JavaScript Object Notation) is a lightweight data-interchange format. JSON is built on two structures:
>
> A collection of name/value pairs. In various languages, this is realized as an object, record, struct, dictionary, hash table, keyed list, or associative array. An ordered list of values. In most languages, this is realized as an array, vector, list, or sequence.

Source: <https://www.json.org/json-en.html>

## Two flavors of tabular data

- Row-based JSON.
- Column-based JSON.

## Using `read_html` function for HTML `<table></table>` tags

> The `<table>` tag defines an HTML table. An HTML table consists of one `<table>` element and one or more `<tr>`, `<th>`, and `<td>` elements. The `<tr>` element defines a table row, the `<th>` element defines a table header, and the `<td>` element defines a table cell.

Source: <https://www.w3schools.com/default.asp>

In [13]:
request_url = "https://www.imdb.com/chart/top"
html_tables = pd.read_html(request_url)
print(type(html_tables))
print(len(html_tables))

<class 'list'>
1

In [14]:
html_tables[0]

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. 刺激1995 (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. 教父 (1972),9.1,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. 教父第二集 (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. 黑暗騎士 (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. 十二怒漢 (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN
...,...,...,...,...,...
245,NaN,246. 電影版聲之形 (2016),8.0,12345678910 NOT YET RELEASED Seen,NaN
246,NaN,247. 阿爾及爾之戰 (1966),8.0,12345678910 NOT YET RELEASED Seen,NaN
247,NaN,248. 7號房的禮物 (2019),8.0,12345678910 NOT YET RELEASED Seen,NaN
248,NaN,249. 新世紀福音戰士：AIR/真心為你 (1997),8.0,12345678910 NOT YET RELEASED Seen,NaN
249,NaN,250. 紅色情深 (1994),8.0,12345678910 NOT YET RELEASED Seen,NaN

## Basic attributes and methods

## Basic attributes of a `DataFrame` object

- `shape`
- `dtypes`
- `index`
- `columns`

In [15]:
print(daily_report.shape)
print(daily_report.dtypes)
print(daily_report.index)
print(daily_report.columns)

(3983, 14)
FIPS                   float64
Admin2                  object
Province_State          object
Country_Region          object
Last_Update             object
Lat                    float64
Long_                  float64
Confirmed                int64
Deaths                   int64
Recovered              float64
Active                 float64
Combined_Key            object
Incident_Rate          float64
Case_Fatality_Ratio    float64
dtype: object
RangeIndex(start=0, stop=3983, step=1)
Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incident_Rate', 'Case_Fatality_Ratio'],
      dtype='object')

## Basic methods of a `DataFrame` object

- `head(n)`
- `tail(n)`
- `describe`
- `info`
- `set_index`
- `reset_index`

## `head(n)` returns the top n observations with header

In [16]:
daily_report.head() # n is default to 5

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-05-05 04:20:43,33.93911,67.709953,60563,2648,53694.0,4221.0,Afghanistan,155.575600,4.372307
1,NaN,NaN,NaN,Albania,2021-05-05 04:20:43,41.15330,20.168300,131327,2402,112626.0,16299.0,Albania,4563.451247,1.829022
2,NaN,NaN,NaN,Algeria,2021-05-05 04:20:43,28.03390,1.659600,122999,3289,85693.0,34017.0,Algeria,280.492758,2.674005
3,NaN,NaN,NaN,Andorra,2021-05-05 04:20:43,42.50630,1.521800,13316,127,12818.0,371.0,Andorra,17234.194008,0.953740
4,NaN,NaN,NaN,Angola,2021-05-05 04:20:43,-11.20270,17.873900,27284,609,24190.0,2485.0,Angola,83.015206,2.232077

## `tail(n)` returns the bottom n observations with header

In [17]:
daily_report.tail(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
3980,NaN,NaN,NaN,Yemen,2021-05-05 04:20:43,15.552727,48.516388,6390,1240,2948.0,2202.0,Yemen,21.424284,19.405321
3981,NaN,NaN,NaN,Zambia,2021-05-05 04:20:43,-13.133897,27.849332,91804,1254,90166.0,384.0,Zambia,499.370212,1.365954
3982,NaN,NaN,NaN,Zimbabwe,2021-05-05 04:20:43,-19.015438,29.154857,38327,1574,35775.0,978.0,Zimbabwe,257.869799,4.106765

## `describe` returns the descriptive summary for numeric columns

In [18]:
daily_report.describe()

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
count,3266.000000,3895.000000,3895.000000,3.983000e+03,3983.000000,7.060000e+02,7.050000e+02,3895.000000,3941.000000
mean,32401.272811,35.985508,-72.035523,3.875459e+04,810.343460,1.287717e+05,4.012008e+04,8688.456742,2.042321
std,18033.806874,13.024749,53.660228,2.128008e+05,4556.102364,3.700620e+05,2.731482e+05,3916.697250,2.781862
min,66.000000,-52.368000,-178.116500,0.000000e+00,0.000000,0.000000e+00,-1.875211e+06,0.000000,0.000000
25%,19049.500000,33.269320,-96.616603,1.112000e+03,19.000000,6.952500e+02,3.770000e+02,6627.862221,1.211187
50%,30068.000000,37.952303,-86.854759,3.083000e+03,56.000000,1.769100e+04,3.321000e+03,9277.807064,1.766382
75%,47040.500000,42.224242,-77.493446,1.265050e+04,194.000000,7.881175e+04,2.673100e+04,11178.134275,2.486481
max,99999.000000,71.706900,178.065000,5.633509e+06,112186.000000,4.554037e+06,5.219733e+06,36141.927203,128.139462

## `info` returns the concise information of the dataframe

In [19]:
daily_report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3983 entries, 0 to 3982
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FIPS                 3266 non-null   float64
 1   Admin2               3271 non-null   object
 2   Province_State       3812 non-null   object
 3   Country_Region       3983 non-null   object
 4   Last_Update          3983 non-null   object
 5   Lat                  3895 non-null   float64
 6   Long_                3895 non-null   float64
 7   Confirmed            3983 non-null   int64
 8   Deaths               3983 non-null   int64
 9   Recovered            706 non-null    float64
 10  Active               705 non-null    float64
 11  Combined_Key         3983 non-null   object
 12  Incident_Rate        3895 non-null   float64
 13  Case_Fatality_Ratio  3941 non-null   float64
dtypes: float64(7), int64(2), object(5)
memory usage: 435.8+ KB

## `set_index` replaces current `Index` with a specific variable

In [20]:
daily_report.set_index('Combined_Key')

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
Combined_Key,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,Afghanistan,2021-05-05 04:20:43,33.939110,67.709953,60563,2648,53694.0,4221.0,155.575600,4.372307
Albania,NaN,NaN,NaN,Albania,2021-05-05 04:20:43,41.153300,20.168300,131327,2402,112626.0,16299.0,4563.451247,1.829022
Algeria,NaN,NaN,NaN,Algeria,2021-05-05 04:20:43,28.033900,1.659600,122999,3289,85693.0,34017.0,280.492758,2.674005
Andorra,NaN,NaN,NaN,Andorra,2021-05-05 04:20:43,42.506300,1.521800,13316,127,12818.0,371.0,17234.194008,0.953740
Angola,NaN,NaN,NaN,Angola,2021-05-05 04:20:43,-11.202700,17.873900,27284,609,24190.0,2485.0,83.015206,2.232077
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,NaN,NaN,NaN,Vietnam,2021-05-05 04:20:43,14.058324,108.277199,2995,35,2560.0,400.0,3.076889,1.168614
West Bank and Gaza,NaN,NaN,NaN,West Bank and Gaza,2021-05-05 04:20:43,31.952200,35.233200,298921,3296,277673.0,17952.0,5859.569186,1.102632
Yemen,NaN,NaN,NaN,Yemen,2021-05-05 04:20:43,15.552727,48.516388,6390,1240,2948.0,2202.0,21.424284,19.405321
Zambia,NaN,NaN,NaN,Zambia,2021-05-05 04:20:43,-13.133897,27.849332,91804,1254,90166.0,384.0,499.370212,1.365954
Zimbabwe,NaN,NaN,NaN,Zimbabwe,2021-05-05 04:20:43,-19.015438,29.154857,38327,1574,35775.0,978.0,257.869799,4.106765

## `reset_index` resets current `Index` with default `RangeIndex`

In [21]:
daily_report.set_index('Combined_Key').reset_index()

,Combined_Key,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,NaN,NaN,NaN,Afghanistan,2021-05-05 04:20:43,33.939110,67.709953,60563,2648,53694.0,4221.0,155.575600,4.372307
1,Albania,NaN,NaN,NaN,Albania,2021-05-05 04:20:43,41.153300,20.168300,131327,2402,112626.0,16299.0,4563.451247,1.829022
2,Algeria,NaN,NaN,NaN,Algeria,2021-05-05 04:20:43,28.033900,1.659600,122999,3289,85693.0,34017.0,280.492758,2.674005
3,Andorra,NaN,NaN,NaN,Andorra,2021-05-05 04:20:43,42.506300,1.521800,13316,127,12818.0,371.0,17234.194008,0.953740
4,Angola,NaN,NaN,NaN,Angola,2021-05-05 04:20:43,-11.202700,17.873900,27284,609,24190.0,2485.0,83.015206,2.232077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3978,Vietnam,NaN,NaN,NaN,Vietnam,2021-05-05 04:20:43,14.058324,108.277199,2995,35,2560.0,400.0,3.076889,1.168614
3979,West Bank and Gaza,NaN,NaN,NaN,West Bank and Gaza,2021-05-05 04:20:43,31.952200,35.233200,298921,3296,277673.0,17952.0,5859.569186,1.102632
3980,Yemen,NaN,NaN,NaN,Yemen,2021-05-05 04:20:43,15.552727,48.516388,6390,1240,2948.0,2202.0,21.424284,19.405321
3981,Zambia,NaN,NaN,NaN,Zambia,2021-05-05 04:20:43,-13.133897,27.849332,91804,1254,90166.0,384.0,499.370212,1.365954
3982,Zimbabwe,NaN,NaN,NaN,Zimbabwe,2021-05-05 04:20:43,-19.015438,29.154857,38327,1574,35775.0,978.0,257.869799,4.106765

## Basic Wrangling

## Basic wrangling is like writing SQL queries

- Selecting: `SELECT FROM`
- Filtering: `WHERE`
- Subset: `SELECT FROM WHERE`

## Basic wrangling is like writing SQL queries(cont'd)

- Indexing
- Sorting: `ORDER BY`
- Deriving
- Summarizing
- Summarizing and Grouping: `GROUP BY`

## Selecting a column as `Series`

In [22]:
print(daily_report['Country_Region'])
print(type(daily_report['Country_Region']))

0              Afghanistan
1                  Albania
2                  Algeria
3                  Andorra
4                   Angola
               ...
3978               Vietnam
3979    West Bank and Gaza
3980                 Yemen
3981                Zambia
3982              Zimbabwe
Name: Country_Region, Length: 3983, dtype: object
<class 'pandas.core.series.Series'>

## Selecting a column as `DataFrame`

In [23]:
print(type(daily_report[['Country_Region']]))
daily_report[['Country_Region']]

<class 'pandas.core.frame.DataFrame'>

          Country_Region
0            Afghanistan
1                Albania
2                Algeria
3                Andorra
4                 Angola
...                  ...
3978             Vietnam
3979  West Bank and Gaza
3980               Yemen
3981              Zambia
3982            Zimbabwe

[3983 rows x 1 columns]

## Selecting multiple columns as `DataFrame`, for sure

In [24]:
cols = ['Country_Region', 'Province_State']
daily_report[cols]

          Country_Region Province_State
0            Afghanistan            NaN
1                Albania            NaN
2                Algeria            NaN
3                Andorra            NaN
4                 Angola            NaN
...                  ...            ...
3978             Vietnam            NaN
3979  West Bank and Gaza            NaN
3980               Yemen            NaN
3981              Zambia            NaN
3982            Zimbabwe            NaN

[3983 rows x 2 columns]

## Filtering rows with conditional statements

In [25]:
is_taiwan = daily_report['Country_Region'] == 'Taiwan*'
daily_report[is_taiwan]

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
643,NaN,NaN,NaN,Taiwan*,2021-05-05 04:20:43,23.7,121.0,1153,12,1067.0,74.0,Taiwan*,4.841126,1.040763

## Subsetting columns and rows simultaneously

In [26]:
cols_to_select = ['Country_Region', 'Confirmed']
rows_to_filter = daily_report['Country_Region'] == 'Taiwan*'
daily_report[rows_to_filter][cols_to_select]

    Country_Region  Confirmed
643        Taiwan*       1153

## Indexing `DataFrame` with

- `loc[]`
- `iloc[]`

## `loc[]` is indexing `DataFrame` with `Index`

In [27]:
taiwan_row_index = daily_report[is_taiwan].index[0]
print(daily_report.loc[taiwan_row_index, ['Country_Region', 'Confirmed']]) # as Series
daily_report.loc[[taiwan_row_index], ['Country_Region', 'Confirmed']] # as DataFrame

Country_Region    Taiwan*
Confirmed            1153
Name: 643, dtype: object

    Country_Region  Confirmed
643        Taiwan*       1153

## `iloc[]` is indexing `DataFrame` with absolute position

In [28]:
print(daily_report.iloc[taiwan_row_index, [3, 7]]) # as Series
daily_report.iloc[[taiwan_row_index], [3, 7]] # as DataFrame

Country_Region    Taiwan*
Confirmed            1153
Name: 643, dtype: object

    Country_Region  Confirmed
643        Taiwan*       1153

## Sorting `DataFrame` with

- `sort_values`
- `sort_index`

## `sort_values` sorts `DataFrame` with specific columns

In [29]:
daily_report.sort_values(['Country_Region', 'Confirmed'])

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-05-05 04:20:43,33.939110,67.709953,60563,2648,53694.0,4221.0,Afghanistan,155.575600,4.372307
1,NaN,NaN,NaN,Albania,2021-05-05 04:20:43,41.153300,20.168300,131327,2402,112626.0,16299.0,Albania,4563.451247,1.829022
2,NaN,NaN,NaN,Algeria,2021-05-05 04:20:43,28.033900,1.659600,122999,3289,85693.0,34017.0,Algeria,280.492758,2.674005
3,NaN,NaN,NaN,Andorra,2021-05-05 04:20:43,42.506300,1.521800,13316,127,12818.0,371.0,Andorra,17234.194008,0.953740
4,NaN,NaN,NaN,Angola,2021-05-05 04:20:43,-11.202700,17.873900,27284,609,24190.0,2485.0,Angola,83.015206,2.232077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3978,NaN,NaN,NaN,Vietnam,2021-05-05 04:20:43,14.058324,108.277199,2995,35,2560.0,400.0,Vietnam,3.076889,1.168614
3979,NaN,NaN,NaN,West Bank and Gaza,2021-05-05 04:20:43,31.952200,35.233200,298921,3296,277673.0,17952.0,West Bank and Gaza,5859.569186,1.102632
3980,NaN,NaN,NaN,Yemen,2021-05-05 04:20:43,15.552727,48.516388,6390,1240,2948.0,2202.0,Yemen,21.424284,19.405321
3981,NaN,NaN,NaN,Zambia,2021-05-05 04:20:43,-13.133897,27.849332,91804,1254,90166.0,384.0,Zambia,499.370212,1.365954
3982,NaN,NaN,NaN,Zimbabwe,2021-05-05 04:20:43,-19.015438,29.154857,38327,1574,35775.0,978.0,Zimbabwe,257.869799,4.106765

## `sort_index` sorts `DataFrame` with the `Index` of `DataFrame`

In [30]:
daily_report.sort_index(ascending=False)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
3982,NaN,NaN,NaN,Zimbabwe,2021-05-05 04:20:43,-19.015438,29.154857,38327,1574,35775.0,978.0,Zimbabwe,257.869799,4.106765
3981,NaN,NaN,NaN,Zambia,2021-05-05 04:20:43,-13.133897,27.849332,91804,1254,90166.0,384.0,Zambia,499.370212,1.365954
3980,NaN,NaN,NaN,Yemen,2021-05-05 04:20:43,15.552727,48.516388,6390,1240,2948.0,2202.0,Yemen,21.424284,19.405321
3979,NaN,NaN,NaN,West Bank and Gaza,2021-05-05 04:20:43,31.952200,35.233200,298921,3296,277673.0,17952.0,West Bank and Gaza,5859.569186,1.102632
3978,NaN,NaN,NaN,Vietnam,2021-05-05 04:20:43,14.058324,108.277199,2995,35,2560.0,400.0,Vietnam,3.076889,1.168614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,NaN,NaN,NaN,Angola,2021-05-05 04:20:43,-11.202700,17.873900,27284,609,24190.0,2485.0,Angola,83.015206,2.232077
3,NaN,NaN,NaN,Andorra,2021-05-05 04:20:43,42.506300,1.521800,13316,127,12818.0,371.0,Andorra,17234.194008,0.953740
2,NaN,NaN,NaN,Algeria,2021-05-05 04:20:43,28.033900,1.659600,122999,3289,85693.0,34017.0,Algeria,280.492758,2.674005
1,NaN,NaN,NaN,Albania,2021-05-05 04:20:43,41.153300,20.168300,131327,2402,112626.0,16299.0,Albania,4563.451247,1.829022
0,NaN,NaN,NaN,Afghanistan,2021-05-05 04:20:43,33.939110,67.709953,60563,2648,53694.0,4221.0,Afghanistan,155.575600,4.372307

## Deriving new variables from `DataFrame`

- Simple operations
- `pd.cut`
- `map` with a `dict`
- `map` with a function(or a lambda expression)

## Deriving new variable with simple operations

In [31]:
active = daily_report['Confirmed'] - daily_report['Deaths'] - daily_report['Recovered']
print(active)

0        4221.0
1       16299.0
2       34017.0
3         371.0
4        2485.0
         ...
3978      400.0
3979    17952.0
3980     2202.0
3981      384.0
3982      978.0
Length: 3983, dtype: float64

## Deriving categorical from numerical with `pd.cut`

In [32]:
import numpy as np

cut_bins = [0, 1000, 10000, 100000, np.Inf]
cut_labels = ['Less than 1000', 'Between 1000 and 10000', 'Between 10000 and 100000', 'Above 100000']
confirmed_categorical = pd.cut(daily_report['Confirmed'], bins=cut_bins, labels=cut_labels, right=False)
print(confirmed_categorical)

0       Between 10000 and 100000
1                   Above 100000
2                   Above 100000
3       Between 10000 and 100000
4       Between 10000 and 100000
                  ...
3978      Between 1000 and 10000
3979                Above 100000
3980      Between 1000 and 10000
3981    Between 10000 and 100000
3982    Between 10000 and 100000
Name: Confirmed, Length: 3983, dtype: category
Categories (4, object): ['Less than 1000' < 'Between 1000 and 10000' < 'Between 10000 and 100000' < 'Above 100000']

## Deriving categorical from categorical with `map`

- Passing a `dict`
- Passing a function(or lambda expression)

In [33]:
# Passing a dict
country_name = {
    'Taiwan*': 'Taiwan'
}
daily_report_tw = daily_report[is_taiwan]
daily_report_tw['Country_Region'].map(country_name)

643    Taiwan
Name: Country_Region, dtype: object

In [34]:
# Passing a function
def is_us(x):
    if x == 'US':
        return 'US'
    else:
        return 'Not US'
daily_report['Country_Region'].map(is_us)

0       Not US
1       Not US
2       Not US
3       Not US
4       Not US
         ...
3978    Not US
3979    Not US
3980    Not US
3981    Not US
3982    Not US
Name: Country_Region, Length: 3983, dtype: object

In [35]:
# Passing a lambda expression)
daily_report['Country_Region'].map(lambda x: 'US' if x == 'US' else 'Not US')

0       Not US
1       Not US
2       Not US
3       Not US
4       Not US
         ...
3978    Not US
3979    Not US
3980    Not US
3981    Not US
3982    Not US
Name: Country_Region, Length: 3983, dtype: object

## Summarizing `DataFrame` with aggregate methods

In [36]:
daily_report['Confirmed'].sum()

154359533

## Summarizing and grouping `DataFrame` with aggregate methods

In [37]:
daily_report.groupby('Country_Region')['Confirmed'].sum()

Country_Region
Afghanistan            60563
Albania               131327
Algeria               122999
Andorra                13316
Angola                 27284
                       ...
Vietnam                 2995
West Bank and Gaza    298921
Yemen                   6390
Zambia                 91804
Zimbabwe               38327
Name: Confirmed, Length: 192, dtype: int64

## Advanced Wrangling

## Other common wranglings including

- Dealing with missing values
- Dealing with text values
- Reshaping dataframes
- Merging and joining dataframes

## Dealing with missing values

- Using `isnull` or `notnull` to check if `np.NaN` exists
- Using `dropna` to drop rows with `np.NaN`
- Using `fillna` to fill `np.NaN` with specific values

In [38]:
print(daily_report['Province_State'].size)
print(daily_report['Province_State'].isnull().sum())
print(daily_report['Province_State'].notnull().sum())

3983
171
3812

In [39]:
print(daily_report.dropna().shape)
print(daily_report['FIPS'].fillna(0))

(0, 14)
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3978    0.0
3979    0.0
3980    0.0
3981    0.0
3982    0.0
Name: FIPS, Length: 3983, dtype: float64

## Summarizing text columns

- `unique`
- `nunique`
- `value_counts`

In [40]:
print(daily_report['Country_Region'].nunique())
print(daily_report['Country_Region'].unique())

192
['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burma' 'Burundi'
 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic'
 'Chad' 'Chile' 'China' 'Colombia' 'Comoros' 'Congo (Brazzaville)'
 'Congo (Kinshasa)' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus'
 'Czechia' 'Denmark' 'Diamond Princess' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Fiji' 'Finland' 'France'
 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Holy See'
 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Korea, South' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia'
 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'MS Zaandam' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives'
 'Mali' 'Malta' 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia' 'Moldova' 'Monaco' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Sweden' 'Switzerland' 'Syria' 'Taiwan*' 'Tajikistan'
 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Trinidad and Tobago'
 'Tunisia' 'Turkey' 'US' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'United Kingdom' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Vietnam'
 'West Bank and Gaza' 'Yemen' 'Zambia' 'Zimbabwe']

In [41]:
daily_report['Country_Region'].value_counts().sort_values(ascending=False)

US                    3277
Russia                  83
Japan                   49
India                   37
China                   34
                      ...
Bahamas                  1
Mozambique               1
Dominican Republic       1
Bolivia                  1
Iceland                  1
Name: Country_Region, Length: 192, dtype: int64

## Splitting strings with `str.split` as a `Series`

In [42]:
request_url = "https://www.imdb.com/chart/top"
html_tables = pd.read_html(request_url)
html_table = html_tables[0]
html_table.head()

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. 刺激1995 (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. 教父 (1972),9.1,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. 教父第二集 (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. 黑暗騎士 (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. 十二怒漢 (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN

In [43]:
html_table['Rank & Title'].str.split()

0                  [1., 刺激1995, (1994)]
1                      [2., 教父, (1972)]
2                   [3., 教父第二集, (1974)]
3                    [4., 黑暗騎士, (2008)]
4                    [5., 十二怒漢, (1957)]
                     ...
245              [246., 電影版聲之形, (2016)]
246              [247., 阿爾及爾之戰, (1966)]
247              [248., 7號房的禮物, (2019)]
248    [249., 新世紀福音戰士：AIR/真心為你, (1997)]
249                [250., 紅色情深, (1994)]
Name: Rank & Title, Length: 250, dtype: object

## Splitting strings with `str.split` as a `DataFrame`

In [44]:
html_table['Rank & Title'].str.split(expand=True)

        0                 1       2
0      1.            刺激1995  (1994)
1      2.                教父  (1972)
2      3.             教父第二集  (1974)
3      4.              黑暗騎士  (2008)
4      5.              十二怒漢  (1957)
..    ...               ...     ...
245  246.            電影版聲之形  (2016)
246  247.            阿爾及爾之戰  (1966)
247  248.            7號房的禮物  (2019)
248  249.  新世紀福音戰士：AIR/真心為你  (1997)
249  250.              紅色情深  (1994)

[250 rows x 3 columns]

## Replacing strings with `str.replace`

In [45]:
split_dataframe = html_table['Rank & Title'].str.split(expand=True)
ranks = split_dataframe[0].str.replace(".", '')
ranks

0        1
1        2
2        3
3        4
4        5
      ...
245    246
246    247
247    248
248    249
249    250
Name: 0, Length: 250, dtype: object

In [46]:
split_dataframe = html_table['Rank & Title'].str.split(expand=True)
years = split_dataframe[2].str.replace("\(|\)", '')
years

0      1994
1      1972
2      1974
3      2008
4      1957
       ...
245    2016
246    1966
247    2019
248    1997
249    1994
Name: 2, Length: 250, dtype: object

## Testing for strings that match or contain a pattern with `str.contains`

In [47]:
print(daily_report['Country_Region'].str.contains('land').sum())
daily_report[daily_report['Country_Region'].str.contains('land')]

26

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
204,NaN,NaN,NaN,Finland,2021-05-05 04:20:43,61.924110,25.748151,87529,916,46000.0,40613.0,Finland,1579.741109,1.046510
248,NaN,NaN,NaN,Iceland,2021-05-05 04:20:43,64.963100,-19.020800,6491,29,6295.0,167.0,Iceland,1902.124542,0.446772
289,NaN,NaN,NaN,Ireland,2021-05-05 04:20:43,53.142400,-7.692100,250672,4908,23364.0,222400.0,Ireland,5076.596927,1.957937
385,NaN,NaN,NaN,Marshall Islands,2021-05-05 04:20:43,7.131500,171.184500,4,0,4.0,0.0,Marshall Islands,6.847791,0.000000
430,NaN,NaN,Aruba,Netherlands,2021-05-05 04:20:43,12.521100,-69.968300,10704,100,10467.0,137.0,"Aruba, Netherlands",10025.663601,0.934230
431,NaN,NaN,"Bonaire, Sint Eustatius and Saba",Netherlands,2021-05-05 04:20:43,12.178400,-68.238500,1560,16,1532.0,12.0,"Bonaire, Sint Eustatius and Saba, Netherlands",5949.429846,1.025641
432,NaN,NaN,Curacao,Netherlands,2021-05-05 04:20:43,12.169600,-68.990000,12217,111,11816.0,290.0,"Curacao, Netherlands",7444.850701,0.908570
433,NaN,NaN,Drenthe,Netherlands,2021-05-05 04:20:43,52.862485,6.618435,31225,345,0.0,30880.0,"Drenthe, Netherlands",6324.921711,1.104884
434,NaN,NaN,Flevoland,Netherlands,2021-05-05 04:20:43,52.550383,5.515162,33986,234,0.0,33752.0,"Flevoland, Netherlands",8034.116510,0.688519
435,NaN,NaN,Friesland,Netherlands,2021-05-05 04:20:43,53.087337,5.792500,39715,466,0.0,39249.0,"Friesland, Netherlands",6110.404227,1.173360
436,NaN,NaN,Gelderland,Netherlands,2021-05-05 04:20:43,52.061738,5.939114,169957,1979,0.0,167978.0,"Gelderland, Netherlands",8147.694674,1.164412
437,NaN,NaN,Groningen,Netherlands,2021-05-05 04:20:43,53.217922,6.741514,35861,254,0.0,35607.0,"Groningen, Netherlands",6121.024262,0.708290
438,NaN,NaN,Limburg,Netherlands,2021-05-05 04:20:43,51.209227,5.933870,103408,1589,0.0,101819.0,"Limburg, Netherlands",9255.988851,1.536632
439,NaN,NaN,Noord-Brabant,Netherlands,2021-05-05 04:20:43,51.561174,5.184942,244649,3078,0.0,241571.0,"Noord-Brabant, Netherlands",9545.583126,1.258129
440,NaN,NaN,Noord-Holland,Netherlands,2021-05-05 04:20:43,52.600906,4.918688,256265,2518,0.0,253747.0,"Noord-Holland, Netherlands",8899.551906,0.982577
441,NaN,NaN,Overijssel,Netherlands,2021-05-05 04:20:43,52.444558,6.441722,98883,1109,0.0,97774.0,"Overijssel, Netherlands",8506.752374,1.121527
442,NaN,NaN,Sint Maarten,Netherlands,2021-05-05 04:20:43,18.042500,-63.054800,2240,27,2189.0,24.0,"Sint Maarten, Netherlands",5223.636957,1.205357
443,NaN,NaN,Unknown,Netherlands,2021-05-05 04:20:43,NaN,NaN,3690,14,0.0,3676.0,"Unknown, Netherlands",NaN,0.379404
444,NaN,NaN,Utrecht,Netherlands,2021-05-05 04:20:43,52.084251,5.163824,117110,1250,0.0,115860.0,"Utrecht, Netherlands",8643.863381,1.067373
445,NaN,NaN,Zeeland,Netherlands,2021-05-05 04:20:43,51.479360,3.861559,26330,234,0.0,26096.0,"Zeeland, Netherlands",6865.925401,0.888720
446,NaN,NaN,Zuid-Holland,Netherlands,2021-05-05 04:20:43,51.937835,4.462114,363448,4151,0.0,359297.0,"Zuid-Holland, Netherlands",9799.886537,1.142117
447,NaN,NaN,NaN,New Zealand,2021-05-05 04:20:43,-40.900600,174.886000,2629,26,2578.0,25.0,New Zealand,54.518311,0.988969
491,NaN,NaN,NaN,Poland,2021-05-05 04:20:43,51.919400,19.145100,2808052,68133,2536931.0,202988.0,Poland,7419.561147,2.426344
593,NaN,NaN,NaN,Solomon Islands,2021-05-05 04:20:43,-9.645700,160.156200,20,0,20.0,0.0,Solomon Islands,3.063453,0.000000
641,NaN,NaN,NaN,Switzerland,2021-05-05 04:20:43,46.818200,8.227500,665585,10667,317600.0,337318.0,Switzerland,7690.518519,1.602650
646,NaN,NaN,NaN,Thailand,2021-05-05 04:20:43,15.870032,100.992541,72788,303,26873.0,45612.0,Thailand,104.280835,0.416277

## Reshaping dataframes from wide to long format with `pd.melt`

A common problem is that a dataset where some of the column names are not names of variables, but values of a variable.

In [48]:
ts_confirmed_global_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
ts_confirmed_global = pd.read_csv(ts_confirmed_global_url)
ts_confirmed_global

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/25/21,4/26/21,4/27/21,4/28/21,4/29/21,4/30/21,5/1/21,5/2/21,5/3/21,5/4/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,58843,59015,59225,59370,59576,59745,59939,60122,60300,60563
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,130537,130606,130736,130859,130977,131085,131185,131238,131276,131327
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,120922,121112,121344,121580,121866,122108,122311,122522,122717,122999
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,13060,13083,13121,13148,13198,13232,13232,13282,13295,13316
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,25609,25710,25942,26168,26431,26652,26815,26993,27133,27284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,2843,2852,2857,2865,2910,2928,2942,2962,2985,2995
271,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,290972,292052,293466,294550,295601,296462,296462,297638,298203,298921
272,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,6137,6183,6220,6263,6294,6317,6325,6341,6363,6390
273,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,91358,91378,91418,91484,91533,91586,91670,91693,91722,91804
274,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,38086,38102,38164,38191,38235,38257,38260,38281,38293,38327

## We can pivot the columns into a new pair of variables

To describe that operation we need four parameters:

- The set of columns whose names are not values
- The set of columns whose names are values
- The name of the variable to move the column names to
- The name of the variable to move the column values to

## In this example, the four parameters are

- `id_vars`: `['Province/State', 'Country/Region', 'Lat', 'Long']`
- `value_vars`: The columns from `1/22/20` to the last column
- `var_name`: Let's name it `Date`
- `value_name`: Let's name it `Confirmed`

In [49]:
idVars = ['Province/State', 'Country/Region', 'Lat', 'Long']
ts_confirmed_global_long = pd.melt(ts_confirmed_global,
                                   id_vars=idVars,
                                   var_name='Date',
                                   value_name='Confirmed')
ts_confirmed_global_long

,Province/State,Country/Region,Lat,Long,Date,Confirmed
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
128970,NaN,Vietnam,14.058324,108.277199,5/4/21,2995
128971,NaN,West Bank and Gaza,31.952200,35.233200,5/4/21,298921
128972,NaN,Yemen,15.552727,48.516388,5/4/21,6390
128973,NaN,Zambia,-13.133897,27.849332,5/4/21,91804
128974,NaN,Zimbabwe,-19.015438,29.154857,5/4/21,38327

## Merging and joining dataframes

- `merge` on column names
- `join` on index

In [50]:
def get_top_rated_movies():
    request_url = "https://www.imdb.com/chart/top"
    html_tables = pd.read_html(request_url)
    html_table = html_tables[0]
    split_dataframe = html_table['Rank & Title'].str.split(expand=True)
    ranks = split_dataframe[0].str.replace(".", '').values
    years = split_dataframe[2].str.replace("\(|\)", '').values
    titles = split_dataframe[1].values
    ratings = html_table['IMDb Rating'].values
    out = pd.DataFrame()
    out['rank'] = ranks
    out['title'] = titles
    out['year'] = years
    out['rating'] = ratings
    return out

top_rated_movies = get_top_rated_movies()

In [51]:
left_df = top_rated_movies.loc[:9, ['title', 'year']]
right_df = top_rated_movies[top_rated_movies['title'].str.contains('魔戒')][['title', 'rating']].reset_index(drop=True)
left_df

        title  year
0      刺激1995  1994
1          教父  1972
2       教父第二集  1974
3        黑暗騎士  2008
4        十二怒漢  1957
5      辛德勒的名單  1993
6  魔戒三部曲：王者再臨  2003
7       黑色追緝令  1994
8       黃昏三鏢客  1966
9  魔戒首部曲：魔戒現身  2001

In [52]:
right_df

        title  rating
0  魔戒三部曲：王者再臨     8.9
1  魔戒首部曲：魔戒現身     8.8
2  魔戒二部曲：雙城奇謀     8.7

## Using `merge` function to join dataframes on columns

In [53]:
# default: inner join
pd.merge(left_df, right_df)

        title  year  rating
0  魔戒三部曲：王者再臨  2003     8.9
1  魔戒首部曲：魔戒現身  2001     8.8

In [54]:
# left join
pd.merge(left_df, right_df, how='left')

        title  year  rating
0      刺激1995  1994     NaN
1          教父  1972     NaN
2       教父第二集  1974     NaN
3        黑暗騎士  2008     NaN
4        十二怒漢  1957     NaN
5      辛德勒的名單  1993     NaN
6  魔戒三部曲：王者再臨  2003     8.9
7       黑色追緝令  1994     NaN
8       黃昏三鏢客  1966     NaN
9  魔戒首部曲：魔戒現身  2001     8.8

In [55]:
# right join
pd.merge(left_df, right_df, how='right')

        title  year  rating
0  魔戒三部曲：王者再臨  2003     8.9
1  魔戒首部曲：魔戒現身  2001     8.8
2  魔戒二部曲：雙城奇謀   NaN     8.7

## Using `join` method to join dataframes on index

In [56]:
# join dataframes on index
left_df.join(right_df, lsuffix='_x', rsuffix='_y')

      title_x  year     title_y  rating
0      刺激1995  1994  魔戒三部曲：王者再臨     8.9
1          教父  1972  魔戒首部曲：魔戒現身     8.8
2       教父第二集  1974  魔戒二部曲：雙城奇謀     8.7
3        黑暗騎士  2008         NaN     NaN
4        十二怒漢  1957         NaN     NaN
5      辛德勒的名單  1993         NaN     NaN
6  魔戒三部曲：王者再臨  2003         NaN     NaN
7       黑色追緝令  1994         NaN     NaN
8       黃昏三鏢客  1966         NaN     NaN
9  魔戒首部曲：魔戒現身  2001         NaN     NaN

In [57]:
left_df = left_df.set_index('title')
right_df = right_df.set_index('title')
# default: left join
left_df.join(right_df)

            year  rating
title
刺激1995      1994     NaN
教父          1972     NaN
教父第二集       1974     NaN
黑暗騎士        2008     NaN
十二怒漢        1957     NaN
辛德勒的名單      1993     NaN
魔戒三部曲：王者再臨  2003     8.9
黑色追緝令       1994     NaN
黃昏三鏢客       1966     NaN
魔戒首部曲：魔戒現身  2001     8.8

In [58]:
# inner join
left_df.join(right_df, how='inner')

            year  rating
title
魔戒三部曲：王者再臨  2003     8.9
魔戒首部曲：魔戒現身  2001     8.8

In [59]:
# right join
left_df.join(right_df, how='right')

            year  rating
title
魔戒三部曲：王者再臨  2003     8.9
魔戒首部曲：魔戒現身  2001     8.8
魔戒二部曲：雙城奇謀   NaN     8.7